<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <logger name="cz.jirutka.spring.data.jdbc" level="DEBUG"/>
    <logger name="org.springframework.test" level="WARN"/>
    <logger name="org.springframework.aop.framework.CglibAopProxy" level="WARN"/>

    <root level="INFO">
        <appender class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <Pattern>%d{HH:mm:ss:SSS} | %-5level | %thread | %logger{20} | %msg%n%rEx</Pattern>
            </encoder>
        </appender>
    </root>
</configuration>
